CCGOnline/CCGOnline/External/
CCGOnline/CCGOnline/_build/
CCGOnline/CCGOnline/PackageManager/bin/
CCGOnline/CCGOnline/PackageManager/obj/
CCGOnline/CCGOnline/EnumReflector/bin/
CCGOnline/CCGOnline/EnumReflector/obj/
CCGOnline/CCGOnline/IPCodeGen/bin/
CCGOnline/CCGOnline/IPCodeGen/obj/
CCGOnline/CCGOnline/Grammars/output/
CCGOnline/CCGOnline/IPPreBuild/bin/
CCGOnline/CCGOnline/IPPreBuild/obj/
CCGOnline/Run/Tools/*.exe
CCGOnline/Run/Tools/*.pdb
CCGOnline/Run/Tools/Logs/
CCGOnline/Run/Tools/Temp/
CCGOnline/Run/Tools/Data/XML/IPCodeGen/
CCGOnline/Run/Tools/Data/XML/OutputManifest.xml
CCGOnline/Run/Tools/Data/XML/EnumReflectionDB.xml
CCGOnline/DB/SQLServer/Logs/
CCGOnline/DB/SQLServer/Temp/
CCGOnline/DB/SQLServer/Python/__pycache__/
CCGOnline/DB/SQLServer/DBSettings.txt
CCGOnline/CCGOnline/tmp/
*.suo
*.user


