CCGOnline/External/
CCGOnline/_build/
CCGOnline/PackageManager/bin/
CCGOnline/PackageManager/obj/
CCGOnline/EnumReflector/bin/
CCGOnline/EnumReflector/obj/
CCGOnline/IPCodeGen/bin/
CCGOnline/IPCodeGen/obj/
CCGOnline/Grammars/output/
CCGOnline/IPPreBuild/bin/
CCGOnline/IPPreBuild/obj/
CCGOnline/tbb/
CCGOnline/loki/
CGGOnline/googletest/
Run/Tools/*.exe
Run/Tools/*.pdb
Run/Tools/Logs/
Run/Tools/Temp/
Run/Tools/Data/XML/IPCodeGen/
Run/Tools/Data/XML/OutputManifest.xml
Run/Tools/Data/XML/EnumReflectionDB.xml
DB/SQLServer/Logs/
DB/SQLServer/Temp/
DB/SQLServer/Python/__pycache__/
DB/SQLServer/DBSettings.txt
CCGOnline/tmp/
.idea



