*.user
*.suo
CCGOnline/CCGOnline/External/
CCGOnline/CCGOnline/ipch/
CCGOnline/CCGOnline/Output/
CCGOnline/CCGOnline/*.sdf
CCGOnline/CCGOnline/*.opensdf
CCGOnline/CCGOnline/AuthServer/Intermediate/
CCGOnline/CCGOnline/AuthServer/GeneratedCode/
CCGOnline/CCGOnline/CCGOClient/Intermediate/
CCGOnline/CCGOnline/CCGOClient/GeneratedCode/
CCGOnline/CCGOnline/Platform/Intermediate/
CCGOnline/CCGOnline/Platform/GeneratedCode/
CCGOnline/CCGOnline/PlatformTest/Intermediate/
CCGOnline/CCGOnline/PlatformTest/GeneratedCode/
CCGOnline/CCGOnline/ServerShared/Intermediate/
CCGOnline/CCGOnline/ServerShared/GeneratedCode/
CCGOnline/CCGOnline/Shared/Intermediate/
CCGOnline/CCGOnline/Shared/GeneratedCode
CCGOnline/CCGOnline/gtest/*.sdf
CCGOnline/CCGOnline/gtest/Intermediate/
CCGOnline/CCGOnline/gtest/GeneratedCode/
CCGOnline/CCGOnline/SharedTest/*.sdf
CCGOnline/CCGOnline/SharedTest/Intermediate/
CCGOnline/CCGOnline/SharedTest/GeneratedCode/
CCGOnline/CCGOnline/PackageManager/bin/
CCGOnline/CCGOnline/PackageManager/obj/
CCGOnline/CCGOnline/EnumReflector/bin/
CCGOnline/CCGOnline/EnumReflector/obj/
CCGOnline/CCGOnline/Grammars/output/
CCGOnline/Run/Client/*.exe
CCGOnline/Run/Client/*.pdb
CCGOnline/Run/Client/External_DLL_64/
CCGOnline/Run/Client/External_DLL_32/
CCGOnline/Run/Client/Logs/
CCGOnline/Run/Server/*.exe
CCGOnline/Run/Server/*.pdb
CCGOnline/Run/Server/External_DLL_64/
CCGOnline/Run/Server/External_DLL_32/
CCGOnline/Run/Server/Logs/
CCGOnline/Run/Tests/*.exe
CCGOnline/Run/Tests/*.pdb
CCGOnline/Run/Tests/External_DLL_64/
CCGOnline/Run/Tests/External_DLL_32/
CCGOnline/Run/Tests/Logs/
CCGOnline/Run/Tools/External_DLL_64/
CCGOnline/Run/Tools/External_DLL_32/
CCGOnline/Run/Tools/Logs/
CCGOnline/Run/Tools/Temp/
CCGOnline/Run/Tools/Data/XML/OutputManifest.xml
CCGOnline/Run/Tools/Data/XML/EnumReflectionDB.xml
